/*POS ---------------------------- */
.pos {
    background-color: #F6F6F6;
    margin-top: 72px;

    justify-content: space-between;

}

.posContent {
    width: 64%;
    padding: 25px;
}

.cartSide {
    position: fixed;
    right: 0;
    top: 72px;
    width: 36%;
    height: 100%;
    background-color: white;
    padding: 15px;
}

/*CategoriesSlider ------------------------------------------ */
.sliderCategory {
    margin-bottom: 10px;
}

.sliderCategory img {
    width: 100px;
    height: 100px;
}

/* SubCategories----------------------------------- */
.subCategoryProduct {
    background-color: rgb(164, 48, 37);
    color: white;
    width: 150px;
    height: 150px;
    margin: 10px;

}

/* ----------------------------------- */